<div class="">
  <div class="">
    <h3>Edytujesz właśnie BOARD "<%= @board.title %>" </h3>
  </div>

  <%= form_with model: @board, local: true do |f| %>

    <%= f.label :title, 'Tytuł' %>
    <%= f.text_field :title, value: @board.title %><br>

    <%= f.label :describe, 'Opis' %>
    <%= f.text_field :describe, value: @board.describe %><br>

    <%= f.select :background_color, options_for_select(Board.background_colors.map { |key, value| [key.capitalize, key] }) %>

    <%= f.submit "Aktualizuj Board" %>

  <% end %>
</div>

<div class="">
  <%= link_to '< Wszystkie BOARDS', boards_path %>
</div>
