<%= render partial: 'new_list' %>

<div>
  Board: <%= @board.title %>
</div>

<div>
  <h3>Listy:</h3>

  <% @lists.each do |list| %>

    <%= list.title %>
    <%= list.id %>
    <%= link_to 'Edytuj', edit_board_list_path(list.board, list) %>
    <%= link_to 'Usuń', board_list_path(list.board, list), method: :delete, data: {confirm: 'Na pewno chcesz usunąć listę?'} %>

  <% end %>

</div>

<%= link_to '< Wróć', boards_path %>
