<%= render partial: 'new_list', locals: {board: @board} %>

<%= link_to 'Pokaż DONE', board_path(@board, filter: !@done_filter) %>

<div>
  Board: <%= @board.title %>
</div>

<%= link_to 'TOGGLE_EDIT_MODE', board_path(@board, edit_mode: !@editmode), class: 'a-toggle' %>

<% @lists.each_with_index do |list, index| %>
  <div style="border: 1px solid black; margin-top: 5px" >

    <div>
      <%= list.title %>
      <%= link_to 'Edytuj', edit_board_list_path(list.board, list) %>
      <%= link_to 'Usuń', board_list_path(list.board, list), method: :delete, data: {confirm: 'Na pewno chcesz usunąć listę?'} %>
      <%= link_to 'Dodaj ToDoPoint', new_list_todopoint_path(list) %>
    </div>

    <h4>Todopoints:</h4>

    <% list.todopoints.where(todopoints: { done: @done_filter}).order(position: :asc).each do |todopoint| %>
    <div>
      <%= @done_filter ? 'Wykonane' : 'Niewykonane' %>
    </div>

    <div>
      <%= link_to "#{todopoint.body}", list_todopoint_path(list, todopoint) %>
      <%= todopoint.position %>

      <div class="left-right">
        <% if @editmode && index != 0 %>
          <%= render partial: 'move_todopoint', locals: { path: list_todopoint_todopoint_movement_service_path(list, todopoint), value: @lists[index - 1].id, klass_name: 'left-arrow' } %>
        <% end %>

        <% if @editmode && ((index + 1) != @lists.size) %>
          <%= render partial: 'move_todopoint', locals: { path: list_todopoint_todopoint_movement_service_path(list, todopoint), value: @lists[index + 1].id, klass_name: 'right-arrow' } %>
        <% end %>
      </div>

      <div class="up-down">
        <% if @editmode && todopoint.position > 1 %>
          <%= render partial: 'move_vertically_todopoint', locals: { path: list_todopoint_todopoint_movement_service_path(list, todopoint), value: :up, klass_name: 'up-arrow' } %>
        <% end %>

        <% if @editmode && ((todopoint.position + 1) <= list.todopoints.size) %>
          <%= render partial: 'move_vertically_todopoint', locals: { path: list_todopoint_todopoint_movement_service_path(list, todopoint), value: :down, klass_name: 'down-arrow' } %>
        <% end %>
      </div>

      <%= link_to 'Edytuj', edit_list_todopoint_path(list, todopoint) %>
      <%= render partial: "shared/todopoint_done_form_#{!@done_filter}", locals: {list: list, todopoint: todopoint} %>
      <%= link_to 'Usuń', list_todopoint_path(list, todopoint), method: :delete, data: {confirm: 'Na pewno chcesz usunąć ToDoPointa?'} %>
    </div>

    <% end %>
  </div>
<% end %>

<%= link_to '< Wróć', boards_path %>
